{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="text-muted">Copyright &copy; <a href="https://bytewave.antigravities.net" target="_blank">Bytewave</a>, 2017.</p>
			</div>
		</div>
	</div>
</footer>
